@require(posts, sub)
@def singlePost(post, sub, announcement=False):
<div pid="@{post['pid']}" class="post @{(post['distinguish'] == 1 and 'mod' or '')} @{(post['distinguish'] == 2 and 'admin' or '')}">
    <div class="misctainer">
      <div class="votebuttons">
        @if post['userstatus'] != 10 and not func.is_archived(post):
        <div title="@{_('Upvote')}" class="upvote @{(post.get('positive') == 1) and 'upvoted' or ''}" data-pid="@{post['pid']}" data-icon="upvote"></div>
        <div class="score">@{post['score']}</div>
        <div title="@{_('Downvote')}" class="downvote @{(post.get('positive') == 0) and 'downvoted' or ''}" data-pid="@{post['pid']}" data-icon="downvote"></div>
        @else:
        <div class="score archived">@{post['score']}</div>
        @end
      </div>
      <div class="thcontainer">
        @if post['link'] == None:
          <a href="/@{config.site.sub_prefix}/@{post['sub']}/@{post['pid']}/@{post['slug']}">
        @else:
          <a target="_blank" rel="noopener nofollow ugc" href="@{post['link']}">
        @end
          <div class="thumbnail">
            @if post['link'] != None:
              @if post['thumbnail'] == '':
                <span class="placeholder" data-icon="link"></span>
              @elif post['thumbnail'] == 'deferred':
                <span class="placeholder deferred @{post['blur']}" data-icon="link" data-deferred="SubPost-@{post['pid']}"/>
              @else:
                <img alt="@{_('Thumbnail')}" class="lazy @{post['blur']}" src="@{url_for('static', filename='img/1x1.gif')}" data-src="@{thumbnail_url(post['thumbnail'])}"/>
              @end
            @else:
              <span class="placeholder" data-icon="chat"></span>
            @end
          </div>
        </a>
      </div>
    </div>
    <div class="pbody">
      <div class="post-heading">
        @if announcement:
        <span class="announcement">@{_('Announcement')}</span>
        @end
        @if post['nsfw']:
        <div class="nsfw" alt="@{_('Not safe for work')}">@{_('NSFW')}</div> \
        @end
        @if post['flair']:
          <a class="postflair" href="@{url_for('sub.view_sub_hot', sub=post['sub'], flair=post['flair'])}">@{post['flair']}</a> \
        @end
        @if post['link'] == None:
          <a href="/@{config.site.sub_prefix}/@{post['sub']}/@{post['pid']}/@{post['slug']}" class="title @{post['blur']}">@{post['title']}</a> \
        @else:
          @if post['link'].startswith('http:'):
            <span title="@{_('not https')}" class="p-icon" data-icon="exclaim"></span> \
          @end
          <a target="_blank" rel="noopener nofollow ugc" href="@{post['link']}" class="title @{post['blur']}">@{post['title']}</a> <a href="/domain/@{func.getDomain(post['link'])}" class="domain">(@{func.getDomain(post['link'])})</a>
        @end
      </div>
      <div class="author">
        @if post['link']:
          @if func.getDomain(post['link'].lower()) in config.site.expando_sites:
          <div class="expando" data-pid="@{post['pid']}" data-t="lnk" title="@{_('Embed video')}" data-link="@{post['link']}"><div data-icon="play" class="icon expando-btn"></div></div>
          @elif post['link'].lower().endswith(('.png', '.jpg', '.gif', '.tiff', '.bmp', '.jpeg')):
          <div class="expando" data-pid="@{post['pid']}"  data-t="lnk" title="@{_('Show image')}" data-link="@{post['link']}"><div data-icon="image" class="icon expando-btn"></div></div>
          @elif post['link'].lower().endswith(('.mp4', '.webm', '.gifv')):
          <div class="expando" data-pid="@{post['pid']}"  data-t="lnk" title="@{_('Play video')}" data-link="@{post['link']}"><div data-icon="play" class="icon expando-btn"></div></div>
          @end
        @elif post['ptype'] == 3:
          <div class="expando" data-pid="@{post['pid']}" data-t="poll" title="@{_('Show poll')}" data-link="None"><div data-icon="text" class="icon expando-btn"></div></div>
        @elif post['content'] != '':
          <div class="expando" data-pid="@{post['pid']}" data-t="txt" title="@{_('Show post content')}" data-link="None"><div data-icon="text" class="icon expando-btn"></div></div>
        @end
        @(
        timeago = '<relative-time datetime="' + post['posted'].isoformat() + 'Z"></relative-time>'
        flairspan = (' <span class="user_flair" data-flair-id="' + str(post['user_flair_id']) + '">' + e(post['user_flair']) + '</span>' if post['user_flair'] else '')
        if post['distinguish'] == 1:
            distinguish_text = _(' [speaking as mod]')
        elif post['distinguish'] == 2:
            distinguish_text = _(' [speaking as admin]')
        else:
            distinguish_text = ''
        blocked_text = _(' [Blocked]') if post['blur'] == 'block-blur' else ''
        deleted_if_admin_view = ' ' + _('[Deleted]') if post['userstatus'] == 10 and current_user.is_admin() else ''

        userlink = '<a class="authorlink" href="/u/' + post['user'] + '">' + post['user'] + deleted_if_admin_view + distinguish_text + blocked_text + '</a>' + flairspan
        if post['userstatus'] != 10 or current_user.is_admin():
            user_html = userlink
        else:
            user_html = '<a class="authorlink deleted">' + _('[Deleted]') + '</a>'
        sublink = '<a href="/' + config.site.sub_prefix + '/' + post['sub'] + '">' + post['sub'] + '</a>'
        )
        @if not sub:
          @{_('posted %(timeago)s by %(user)s on %(sub)s', timeago=timeago, user=user_html, sub=sublink)!!html}
        @else:
          @{_('posted %(timeago)s by %(user)s', timeago=timeago, user=user_html)!!html}
        @end

        @if sub and post['pid'] in func.getStickyPid(sub['sid']):
        - <span class="stick">@{_('sticky')}</span>
        @end
        @if sub and post['pid'] in func.getWikiPid(sub['sid']):
        - <span class="stick">@{_('wiki')}</span>
        @end
      </div>
      <div class="links" data-sid="@{post['sid']}">
        <a class="comments" href="/@{config.site.sub_prefix}/@{post['sub']}/@{post['pid']}/@{post['slug']}">
          @if post['comments'] == 0:
            @{_('comment')} \
          @else:
            @(
            unchecked_count = 0
            new_count = 0
            if not func.is_archived(post):
              unchecked_count = post.get("unchecked_off_count", 0)
              new_count = post.get("new_comments", 0)

            if unchecked_count == 0:
              if new_count == 0:
                comms = _("comments (%(comments)i)", comments=post["comments"])
              elif new_count == post["comments"]:
                comms = _("comments (%(comments)i new)", comments=post["comments"])
              else:
                comms = _("comments (%(comments)i / %(new)i new)", comments=post["comments"], new=new_count)
            else:
              if new_count == 0:
                comms = _("comments (%(comments)i / %(unchecked)i unchecked)", comments=post["comments"], unchecked=unchecked_count)
              else:
                comms = _("comments (%(comments)i / %(new)i new / %(unchecked)i unchecked)", comments=post["comments"], new=new_count, unchecked=unchecked_count)
            )
            @{comms}
          @end
        </a>
        @if current_user.uid and post['uid'] != current_user.uid:
          <a data-ac="report" data-pid="@{post['pid']}" class="report-post">@{_('report')}</a>
        @end
        @if post['open_report_id']:
          <li><a class="post-open-reports" href="@{url_for('mod.report_details', sub=post['sub'], report_type='post', report_id=post['open_report_id'])}">@{_('open reports (%(num)s)', num=post['open_reports'])}</a></li>
        @end
      </div>
    </div>
</div>
@end

@for post in posts:
  @{singlePost(post, sub)!!html}
@end
