@extends("shared/layout.html")
@require(sub, report, reported_user, related_reports, related_reports_json, banuserform, is_sub_banned, post, comment, subInfo, subMods, logs, createreportenote, reporter_modmail_url, reported_user_modmail_url, url_for_modmail_thread)
@def title():
Mod |\
@end

@def sidebar():
  @include('shared/sidebar/mod.html')
@end

@def main():
<div id="container" class="mod-container">
  <div class="mod report content">
    <h1>@{_('Report Details')}</h1>
    <div class="mod report header">
      @if report['type'] == 'comment':
        <h2>@{_('Comment Report')} # @{report['id']}</h2>
      @else:
        <h2>@{_('Post Report')} # @{report['id']}</h2>
      @end
    </div>
    <div class="mod section">
      <div class="col-12 admin-page-form">
          <div class="div-error error alertbox"></div>
          <div class="mod report details pure-g">
            <div class="pure-u-1-1 pure-u-md-1-2">
              <p class="report-details-item"><span class="label">@{_('Sub')}:</span>
                <a href="@{ url_for('sub.view_sub', sub=report['sub']) }">@{report['sub'] }</a>
              </p>
              <p class="report-details-item"><span class="label">@{_('Reported User')}:</span>
                <a href="@{ url_for('user.view', user=report['reported']) }">@{report['reported'] }</a>
              </p>
              <p class="report-details-item"><span class="label">@{_('Time')}:</span>
                <relative-time datetime="@{report['datetime'].isoformat()}Z" prefix=""></relative-time>
              </p>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2">
              <p class="report-details-item"><span class="label">@{_('Reason')}:</span>
                @{report['reason']!!e}
              </p>
              <p class="report-details-item"><span class="label">@{_('Reporter')}:</span>
                <a href="@{ url_for('user.view', user=report['reporter']) }">@{report['reporter'] }</a>
              </p>
              <p class="report-details-item"><span class="label">@{_('Status')}:</span>
                @if report['open'] == True:
                @{_('Open')}
                @else:
                @{_('Closed')}
                @end
              </p>
            </div>
          </div>

          <hr>

          <div class="mod report preview">
            @if report['type'] == 'post':
            <h3>@{_('Post Preview:')}</h3>
              <div class="preview-text-container @{(post['deleted'] != 0) and 'deleted ' or ''}">
                <div class="preview-text">
                  <div class="postinfo" id="postinfo" pid="@{report['pid']!!s}">
                    @if post['deleted'] != 1 or current_user.is_admin():
                      @if post['deleted'] == 3:
                        <p class="helper-text">@{_('[post deleted by admin]')}</p>
                      @elif post['deleted'] == 2:
                        <p class="helper-text">@{_('[post deleted by mod]')}</p>
                      @elif post['deleted'] == 1:
                        <p class="helper-text">@{_('[post deleted by user]')}</p>
                      @end
                      <h3>@{post['title']}</h3>
                      @if post['content']:
                        <div id="postcontent" class="post-content-container">
                          @{markdown(post['content'])!!html}
                        </div>
                        <div id="post-source">@{post['content']}</div>
                      @else:
                        <!-- need to account for other post types still -->
                        @{_('[post preview could not be rendered]')}
                      @end
                    @else:
                      <p class="helper-text">@{_('[post deleted by user]')}</p>
                    @end
                    <div id="delpostli"></div>
                  </div>
                </div>
              </div>

            @else:
            <h3>@{_('Comment Preview:')}</h3>
              <div class="preview-text-container @{(comment['status'] in [1, 2, 3]) and 'deleted ' or ''}">
                <div class="preview-text">
                  @if comment['status'] != 1:
                    @if comment['status'] == 2:
                      <p class="helper=text">@{_('[comment deleted by mod]')}</p>
                    @elif comment['status'] == 3:
                      <p class="helper=text">@{_('[comment deleted by admin]')}</p>
                    @end
                    <div id="commentcontent">@{comment['content']}</div>
                  @elif current_user.is_admin():
                    <p class="helper=text">@{_('[comment deleted by user]')}</p>
                    <div id="commentcontent">@{comment['content']}</div>
                  @else:
                    <p class="helper=text">@{_('[comment deleted by user]')}</p>
                  @end
                </div>
              </div>
            @end

            <div class="preview-meta-data">
              <div>
                @if report['type'] == 'comment':
                  @{_('Posted')} <relative-time datetime="@{comment['time'].isoformat()}Z" prefix=""></relative-time>
                @else:
                  @{_('Posted')} <relative-time datetime="@{post['posted'].isoformat()}Z" prefix=""></relative-time>
                @end
              </div>
              <div class="pure-g">
                  <div class="pure-u-1-2 pure-u-md-1-6">
                    @if report['type'] == 'comment':
                      <a href="@{url_for('sub.view_perm', sub=report['sub'], cid=report['cid'], pid=report['pid'])}">@{_('Go to comment')}</a>
                      @else:
                      <a href="@{url_for('sub.view_post', sub=report['sub'], pid=report['pid'])}">@{_('Go to post')}</a>
                      @end
                  </div>
                  <div class="pure-u-1-2 pure-u-md-1-6">
                    @if report['type'] == 'comment':
                      @if (comment['status'] not in [1, 2, 3]):
                        <button class="pure-button pure-button-primary button-small btn-editpost delete-comment" data-cid="@{report['cid']}">
                          @{_('Delete Comment')}
                        </button>
                      @end
                    @else:
                      @if post['deleted'] == 0:
                        <button class="pure-button pure-button-primary button-small btn-editpost delete-post" data-pid="@{str(report['pid'])}">
                          @{_('Delete Post')}
                        </button>
                      @end
                  @end
                  </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="col-12 admin-page-form">
            <form  method="POST" class="ajaxform pure-form" action="@{url_for('do.create_report_note', report_type=report['type'], report_id=report['id'])}" data-reload="true">
              <h3>@{_('Leave a note')}</h3>
              @{createreportenote.csrf_token()!!html}
                @{createreportenote.text(placeholder=_('Leave a note'), required=True)!!html}
                <button type="submit" class="pure-button pure-button-primary" id="editsub-btnsubmit" data-prog="Saving..." data-success="Saved!">@{_('Submit')}</button>
              <div class="alert div-error"></div>
            </form>
          </div>

          <hr>
          <h3>@{_('Report Log:')}</h3>
          @if len(logs) == 0:
            <p class="helper-text">@{_('No logs have been made yet on this report')}</p>
          @else:
            <ol class="mod-table">
              <li class="mod-table-header pure-g">
                <div class="header pure-u-1 pure-u-md-4-24">@{_('Time')}</div>
                <div class="header pure-u-1 pure-u-md-6-24">@{_('Action Taken')}</div>
                <div class="header pure-u-1 pure-u-md-4-24">@{_('By')}</div>
                <div class="header pure-u-1 pure-u-md-10-24">@{_('Details')}</div>
              </li>
              @for log in logs:
              <li class="mod-table-row pure-g">
                <div data-name="@{_('Time:')}" class="elem sub pure-u-1 pure-u-md-4-24">
                  <relative-time datetime="@{log.time.isoformat()}Z" prefix="">@{log.time.isoformat()}</relative-time>
                </div>
                <div data-name="@{_('Action Taken:')}" class="elem sub pure-u-1 pure-u-md-6-24">
                  @if (log.action == 55) or (log.action == 57):
                    @{_('Report closed')}
                  @elif log.action == 56:
                    @{_('Report reopened')}
                  @elif log.action == 60:
                    @{_('Post deleted')}
                  @elif log.action == 61:
                    @{_('Post un-deleted')}
                  @elif log.action == 62:
                    @{_('Comment deleted')}
                  @elif log.action == 63:
                    @{_('Comment un-deleted')}
                  @elif log.action == 64:
                    @{_('Banned user from site')}
                  @elif log.action == 65:
                    @{_('Banned user from sub')}
                  @elif log.action == 66:
                    @{_('Un-banned user from site')}
                  @elif log.action == 67:
                    @{_('Un-banned user from sub')}
                  @elif log.action == 68:
                    @{_('Left note')}
                  @elif log.action == 1002:
                    @{_('Contacted reported user (%(reported)s)', reported=report['reported'])}
                  @elif log.action == 1003:
                    @{_('Contacted reporter (%(reporter)s)', reporter=report['reporter'])}
                  @else:
                    <i>[Type @{log.action}]</i>
                  @end
                </div>
                <div data-name="@{_('By:')}" class="elem sub pure-u-1 pure-u-md-4-24">
                  @if log.uid:
                  <a href="/u/@{log.uid.name}">@{log.uid.name}</a>
                  @else:
                  --
                  @end
                </div>
                <div data-name="@{_('Details:')}" class="last-elem sub pure-u-1 pure-u-md-10-24">
                  @if log.action == 57:
                  @{_('Closed all reports related to: ')}<a href="@{url_for('mod.report_details', sub=report['sub'], report_type=report['type'], report_id=log.desc)}">
                  @{report['type']} @{_('report')} @{log.desc}</a>
                  @elif log.desc and log.action in [1002, 1003]:
                    <a href="@{url_for_modmail_thread(log.desc)}">@{_("modmail")}</a>
                  @elif log.desc:
                    @{log.desc}
                  @end
                </div>
              </li>
              @end
            </ol>
          @end

          <hr>
          <div class="mod report related reports">
            @if report['type'] == 'comment':
              <h3>@{_('Other reports on this comment:')}</h3>
            @else:
              <h3>@{_('Other reports on this post:')}</h3>
            @end
            @#{ 1 instead of 0 because it includes the current report, which should always exist }
            @if len(related_reports['query']) == 1:
              @if report['type'] == 'comment':
                <p class="helper-text">@{_('There are no other reports on this comment')}</p>
              @else:
                <p class="helper-text">@{_('There are no other reports on this post')}</p>
              @end
            @else:
              <ol class="mod-table">
                <li class="mod-table-header pure-g">
                  <div class="header pure-u-1 pure-u-md-4-24">@{_('Time')}</div>
                  <div class="header pure-u-1 pure-u-md-4-24">@{_('Reporter')}</div>
                  <div class="header pure-u-1 pure-u-md-12-24">@{_('Reason')}</div>
                  <div class="header pure-u-1 pure-u-md-4-24">@{_('Status')}</div>
                </li>
                @for related_report in related_reports['query']:
                @if related_report['id'] != report['id']:
                <li class="mod-table-row pure-g">
                  <div data-name="@{_('Time:')}" class="elem sub pure-u-1 pure-u-md-4-24">
                    @if related_report['type'] == 'comment':
                    <a href="@{url_for('mod.report_details', sub=related_report['sub'], report_type=related_report['type'], report_id=related_report['id'])}"><relative-time datetime="@{related_report['datetime'].isoformat()}Z" prefix=""></relative-time></a>
                    @else:
                    <a href="@{url_for('mod.report_details', sub=related_report['sub'], report_type=related_report['type'], report_id=related_report['id'])}"><relative-time datetime="@{related_report['datetime'].isoformat()}Z" prefix=""></relative-time></a>
                    @end
                  </div>
                  <div data-name="@{_('Reporter:')}" class="elem sub pure-u-1 pure-u-md-4-24"><a href="@{ url_for('user.view', user=related_report['reporter']) }">@{ related_report['reporter'] }</a></div>
                  <div data-name="@{_('Reason:')}" class="elem sub pure-u-1 pure-u-md-12-24">@{related_report['reason']!!e}</div>
                  <div data-name="@{_('Status:')}" class="last-elem sub pure-u-1 pure-u-md-4-24">
                    @if related_report['open'] == True:
                    @{_('Open')}
                    @else:
                    @{_('Closed')}
                    @end
                  </div>
                </li>
                @end
                @end
              </ol>
            @end
          </div>
          <hr>
          <div>
            <h3>@{_("Actions:")}</h3>
            <div class="mod report actions pure-g">
              <div class="pure-u-1-1">
                <!-- CLOSE REPORT -->
                @if report['open'] == True:
                <button class="pure-button pure-button-primary btn-editpost close-report"
                        data-type="@{report['type']}" data-id="@{report['id']!!s}" data-action="close">
                  @{_('Close Report')}
                </button>
                @else:
                <button class="pure-button pure-button-primary btn-editpost close-report"
                        data-type="@{report['type']}" data-id="@{report['id']!!s}" data-action="reopen">
                  @{_('Reopen Report')}
                </button>
                @end
              </div>
              <div class="pure-u-1-1">
                <!-- CLOSE ALL REPORTS -->
                @if related_reports['open_report_count'] == '0':
                  <button class="pure-button pure-button-primary btn-editpost disabled">@{_('All related reports are closed')}</button>
                @else:
                  @if report['type'] == 'comment':
                    <button class="pure-button pure-button-primary btn-editpost close-related-reports" data-type="@{report['type']}" data-reports="@{related_reports_json}" data-original="@{report['id']!!s}" data-action="close">
                      @{_('Close All Reports for this Comment')}
                    </button>
                  @else:
                    <button class="pure-button pure-button-primary btn-editpost close-related-reports" data-type="@{report['type']}" data-reports="@{related_reports_json}" data-original="@{report['id']!!s}" data-action="close">
                      @{_('Close All Reports for this Post')}
                    </button>
                  @end
                @end
              </div>
              <div class="pure-u-1-1">
                @if reported_user.status == 0:
                <a class="pure-button pure-button-primary" href="@{reported_user_modmail_url}">@{_('Send modmail to the reported user (%(name)s)', name=reported_user.name)}</a>
                @end
                </div>
                <div class="pure-u-1-1">
                <a class="pure-button pure-button-primary" href="@{reporter_modmail_url}">@{_('Send modmail to the reporter (%(name)s)', name=report['reporter'])}</a>
              </div>
              <div class="pure-u-1-1">
                @if is_sub_banned:
                <button class="sbm-post pure-button pure-button-primary disabled">
                  @{_('%(reported)s has been banned from %(prefix)s/%(sub)s', reported=report['reported'], prefix=config.site.sub_prefix, sub=report['sub'])}
                </button>
                @else:
                <button class="sbm-post pure-button pure-button-primary banuserbutton">
                  @{_('Ban %(reported)s from %(prefix)s/%(sub)s', reported=report['reported'], prefix=config.site.sub_prefix, sub=report['sub'])}</button>
                @end
              </div>
              <div class="pure-u-1-2 pure-u-md-1-1">
                @if current_user.is_admin() and reported_user.status != 5:
                <form method="POST" data-reload="true" id="banuser" action="@{url_for('do.ban_user', username=report['reported'])}">
                  @{form.CsrfTokenOnlyForm().csrf_token()!!html}
                  <button id="banuser-button" class="sbm-post pure-button pure-button-primary" >@{_('Ban %(reported)s from %(site)s', reported=report['reported'], site=config.site.name)}</button>
                </form>
                @end
                @if reported_user.status == 5:
                <button class="sbm-post pure-button pure-button-primary disabled">@{_('%(user)s has been banned from %(site)s', user=report['reported'], site=config.site.name)}</button>
                @end
              </div>
            </div>
            <div id="report-ban-user-form" style="display: none;">
              <form id="ban-user-form" data-reload="true" data-sub="@{sub.name}" class="ajaxform pure-form" action="@{url_for('do.ban_user_sub', sub=sub.name)}">
                @{banuserform.csrf_token()!!html}
                <p>
                  @{banuserform.user(value=report['reported'])!!html}
                  @{banuserform.reason(placeholder=banuserform.reason.label.text, required=True)!!html}
                  @if current_user.uid in subMods['janitors']:
                  @{_('Until...')}\
                  @else:
                  <select id="ban_timepick">
                    <option value="ban_perm">@{_('Forever')}</option>
                    <option value="ban_temp">@{_('Until...')}</option>
                  </select>
                  @end
                  <input id="ban_expires" name="expires" type="text" class="date-picker-future" @{(current_user.uid in subMods['janitors']) and 'style="display: inline-block;"' or 'style="display: none;"'} placeholder="@{_('Pick date')}">
                  <button type="submit" class="pure-button pure-button-primary" id="banuser-btnsubmit">@{_('Ban')}</button>
                </p>
                <div class="alert div-error"></div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

@end
