@extends("shared/layout.html")
@require(reports, page, sub, subInfo, subMods)
@def title():
Mod |\
@end

@def sidebar():
  @include('shared/sidebar/mod.html')
@end

@def main():
<div id="container" class="mod-container">
  <div class="content">
    <h1>@{_('Open Reports')}</h1>
    <p class="helper-text">@{_('Includes all open reports for subs you can moderate.')}</p>

    <div class="admin section">
      <div class="col-12 admin-page-form">
        <div class="admin section stats">
          @{_('Total Open Reports:')} @reports['open_report_count']  |  @{_('Total Closed Reports:')} <a href="@{url_for('mod.closed')}">@reports['closed_report_count']</a>
          <div class="div-error error alertbox"></div>
          <ol class="mod-table">
            <li class="mod-table-header pure-g">
              <div class="header pure-u-1 pure-u-md-3-24">@{_('Sub')}</div>
              <div class="header pure-u-1 pure-u-md-3-24">@{_('Type')}</div>
              <div class="header pure-u-1 pure-u-md-4-24">@{_('Reporter')}</div>
              <div class="header pure-u-1 pure-u-md-5-24">@{_('Reason')}</div>
              <div class="header pure-u-1 pure-u-md-3-24">@{_('User reported')}</div>
              <div class="header pure-u-1 pure-u-md-3-24">@{_('Time')}</div>
              <div class="header pure-u-1 pure-u-md-3-24">@{_('Close')}</div>
            </li>
            @for report in reports['query']:
            <li class="mod-table-row pure-g">
              <div data-name="@{_('Sub:')}" class="elem sub pure-u-1 pure-u-md-3-24"><a href="@{ url_for('sub.view_sub', sub=report['sub']) }">@{ report['sub'] }</a></div>
              <div data-name="@{_('Type:')}" class="elem pure-u-1 pure-u-md-3-24">
                @if report['type'] == 'comment':
                  <a href="@{url_for('mod.report_details', sub=report['sub'], report_type=report['type'], report_id=report['id'])}">@{_('Comment')}</a>
                @else:
                <a href="@{url_for('mod.report_details', sub=report['sub'], report_type=report['type'], report_id=report['id'])}">@{_('Post')}</a>
                @end
              </div>
              <div data-name="@{_('Reported by:')}" class="elem username pure-u-1 pure-u-md-4-24">
                <a href="@{ url_for('user.view', user=report['reporter']) }">@{ report['reporter'] }</a>
              </div>
              <div data-name="@{_('Reason:')}" class="elem pure-u-1 pure-u-md-5-24">@{report['reason']}</div>
              <div data-name="@{_('User reported:')}" class="elem username pure-u-1 pure-u-md-3-24">
                <a href="@{ url_for('user.view', user=report['reported']) }">@{ report['reported'] }</a>
              </div>
              <div data-name="@{_('Time:')}" class="elem pure-u-1 pure-u-md-3-24">
                <relative-time datetime="@{report['datetime'].isoformat()}Z" prefix=""></relative-time>
              </div>
              <div class="close-elem close-report-button pure-u-1 pure-u-md-3-24">
                <a data-type="@{report['type']}" data-id="@{report['id']}" data-action="close" class="close-report">@{_('[x]')}</a>
              </div>
              <div class="close-button close-report-button pure-u-1 pure-u-md-3-24">
                <a data-type="@{report['type']}" data-id="@{report['id']}" data-action="close" class="pure-button close-report">@{_('Close')}</a>
              </div>
            </li>
            @end
          </ol>
        </div>
      </div>
      @if page > 1:
        <a href="@{url_for('mod.reports', page=(page-1))}" class="pure-button">@{_('Previous page')}</a>
      @end
      @if len(reports['query']) == 50:
        <a href="@{url_for('mod.reports', page=(page+1))}" class="pure-button">@{_('Next page')}</a>
      @end
    </div>
  </div>
</div>

@end
