@require(post, postmeta, comments, subInfo, subMods, highlight, sort)
@def renderComments(post, postmeta, subInfo, subMods, comments, highlight='', sort='best'):
  @(
    if sort == 'best' and not post['best_sort_enabled']:
      sort = 'top'
  )
  @#ignore
  @for comment in comments:
    @if comment['cid']:
      <article id="@{comment['cid']}" data-cid="@{comment['cid']}" class="commentrow @{(comment['cid'] == highlight) and 'highlight ' or ''}@{(comment.get('hl')) and 'active' or ''}@{((comment['visibility'] != '') and (comment['visibility'] != 'none') and (comment['visibility'] not in ['blur-block', 'hide-block'])) and 'deleted ' or ''} text-post no-padding comment @{(comment['distinguish'] == 1) and 'mod' or ''} @{(comment['distinguish'] == 2) and 'admin' or ''}">
        <div id="comment-@{comment['cid']}">
          @if comment['userstatus'] != 10:
            <div class="pull left votecomment">
              @if comment['visibility'] in ['', 'blur-block']:
                <div title="@{_('Upvote')}" class="c-upvote @{(comment.get('positive') == True) and 'upvoted' or ''} @{(comment['visibility'] == 'blur-block') and 'hidden' or ''}" data-pid="@{post['pid']}" data-icon="upvote"></div>
                <div title="@{_('Downvote')}" class="c-downvote @{(comment.get('positive') == False) and 'downvoted' or ''} @{(comment['visibility'] == 'blur-block') and 'hidden' or ''}" data-pid="@{post['pid']}" data-icon="downvote"></div>
              @end
            </div>
          @end
          <div class="commblock">
            <div class="commenthead">
              <a class="togglecomment @{(comment['visibility'] != '') and 'expand' or 'collapse'}" data-cid="@{comment['cid']}">
                @{(comment['visibility'] != '') and '[+]' or '[–]'} \
              </a>
              @if comment['visibility'] == 'none':
                <a class="poster deleted">@{comment['user']}</a>
              @else:
                <a href="@{'/u/' + comment['user'] if current_user.is_admin() or comment['userstatus'] != 10 else '#'}" class="poster">
                  @{comment['user']}
                  @if current_user.is_admin() and comment['userstatus'] == 10:
                     @{_('[Deleted]')}
                  @end
                  @if comment['distinguish']:
                    <span class="speaking-tag">@{(comment['distinguish'] == 1) and _(' [speaking as mod]') or ''} @{(comment['distinguish'] == 2) and _(' [speaking as admin]') or ''}</span>
                  @end
                  @if comment['user'] == post['user']:
                    <span class="op-tag">@{_('[OP]')}</span>
                  @end
                </a>
                @if comment['user_flair']:
                  <span class="user_flair" data-flair-id="@{str(post['user_flair_id'])}">@{comment['user_flair']!!e}</span>
                @end
                @if comment['visibility'] == 'blur-block':
                  <span class="helper-text">@{_('[Blocked]')}</span>
                @end
              @end
              @if config.site.show_votes or current_user.is_admin() or current_user.uid in subMods['all']:
                <b>@{_('<span class="cscore">%(score)i</span> points</b> (+<b>%(upvotes)i</b>|-<b>%(downvotes)i</b>)', score=comment['score'], upvotes=comment['upvotes'], downvotes=comment['downvotes'])!!html}
              @else:
                <b>@{_('<span class="cscore">%(score)i</span> points</b>', score=comment['score'])!!html}
              @endif
              <span class="time ">
                  <relative-time datetime="@{comment['time'].isoformat()}Z"></relative-time>
              </span>
              @if comment['lastedit'] and comment['visibility'] != 'none':
                <span class="time edited">
                  @{_('Edited %(timeago)s', timeago='<relative-time datetime="' + comment['lastedit'].isoformat() + 'Z"></relative-time>')!!html}
                </span>
              @end
              @if comment['sticky']:
                - <span class="stick">sticky</span>
              @end
              <br/>
            </div>
            @(
              unseen = ''
              if (current_user.is_authenticated and comment['uid'] != current_user.uid and not comment['already_viewed']
                  and not post['is_archived']):
                unseen = 'unseen-comment'
            )
            <div class="content @{unseen} @{(comment['visibility'] not in ['', 'mod-del', 'admin-del']) and 'hidden' or ''}" id="content-@{comment['cid']}">
              @if comment['visibility'] == 'none':
                @{comment['user']} \
              @elif comment['visibility'] in ['admin-self-del', 'mod-self-del']:
                <p class="helper-text">@{_('[post deleted by user]')}</p>
                <span class="current history" data-id="0">@{comment['content']!!html}</span>
              @elif comment['visibility'] == 'mod-del':
                <p class="helper-text">@{_('[post deleted by mod]')}</p>
                <span class="current history" data-id="0">@{comment['content']!!html}</span>
              @elif comment['visibility'] == 'admin-del':
                <p class="helper-text">@{_('[post deleted by admin]')}</p>
                <span class="current history" data-id="0">@{comment['content']!!html}</span>
              @elif comment['visibility'] == 'hide-block' and comment['userstatus'] != 10:
                <p class="helper-text">@{_('[You have blocked <a href="%(link)s">%(name)s</a>]', link=url_for('user.view', user=comment['blocked_user']), name=comment['blocked_user'])!!html}</p>
              @elif comment['visibility'] != 'hide-block':
                <span class="current history" data-id="0">@{comment['content']!!html}</span>
              @end
              @if comment['history'] and comment['visibility'] != 'none':
                  @for count, history in enumerate(comment['history']):
                  <span style="display:none;" class="old history" data-id="@{(count + 1)!!s}">
                      @{history['content']!!html}
                  </span>
                  @end
                  <div>
                    <button class="browse-history back" data-action="back">←</button>
                    <button class="browse-history forward disabled" action="forward">→</button>
                    <span class="history-meta">
                      @{_('Viewing edit history:')}
                        <span class="history-version">
                          1/@{1 + len(comment['history'])!!s}
                        </span>
                    </span>
                  </div>
              @end
            </div>

            @if comment['visibility'] != 'none':
              <div hidden id="sauce-@{comment['cid']}">@{comment['source']}</div>
            @end
            <ul class="bottombar links @{(comment['visibility'] not in ['', 'admin-del', 'mod-del']) and 'hidden' or ''}">
              @if comment['visibility'] in ['blur-block', 'hide-block'] and comment['userstatus'] != 10:
                <li><a href="@{url_for('user.view_ignores', menu='user')}">@{_('blocked users')}</a></li>
              @end
              @if current_user.is_authenticated and comment['visibility'] in ['', 'blur-block'] and not current_user.is_subban(post['sid']) and not postmeta.get('lock-comments') and post['deleted'] == 0 and not post['is_archived']:
                <li><a class="reply-comment" data-pid="@{comment['pid']}" data-to="@{comment['cid']}">@{_('reply')}</a></li>
              @end
                <li><a href="@{url_for('sub.view_perm', sub=post['sub'], cid=comment['cid'], pid=post['pid'], slug=post['slug'])}#comment-@{comment['cid']}">@{_('direct link')}</a></li>
              @if comment['visibility'] in ['', 'blur-block']:
                <li><a class="comment-source" data-cid="@{comment['cid']}">@{_('source')}</a></li>
              @end
              @if current_user.is_authenticated and comment['visibility'] in ['', 'blur-block'] and comment['uid'] != current_user.uid:
                <li><a data-ac="report" data-pid="@{comment['pid']}" cid="@{comment['cid']}" class="report-comment">@{_('report')}</a></li>
              @end
              @if current_user.is_authenticated and comment['visibility'] in ['', 'blur-block'] and comment['uid'] == current_user.uid:
                <li><a class="edit-comment" data-cid="@{comment['cid']}">@{_('edit')}</a></li>
              @end
              @if current_user.is_authenticated and comment['visibility'] == '' and (comment['uid'] == current_user.uid or current_user.is_admin() or current_user.uid in subMods['all']):
                <li><a @{(comment['uid'] == current_user.uid) and 'selfdel="true"' or ''!!html} class="delete-comment" data-cid="@{comment['cid']}">@{_('delete')}</a></li>
              @end
              @if ((current_user.is_admin() or current_user.uid in subMods['all']) and comment['status'] == 2) or (current_user.is_admin() and comment['status'] == 3):
                <li><a class="undelete-comment" data-cid="@{comment['cid']}">@{_('un-delete')}</a></li>
              @end
              @if (current_user.uid == comment['uid'] and (current_user.is_admin() or current_user.uid in subMods['all'])):
                <li><a class="distinguish" data-cid="@{comment['cid']}">@{comment['distinguish'] and _('undistinguish') or _('distinguish')}</a></li>
                @if comment['parentcid'] is None:
                  <li><a class="stick-comment" data-cid="@{comment['cid']}">@{comment['sticky'] and _('unstick') or _('make sticky')}</a></li>
                @end
              @end
            </ul>
          </div>
        </div>
        <div id="child-@{comment['cid']}" class="pchild@{(comment['visibility'] != '') and ' hidden' or ''}">
          @if comment['children']:
            @{renderComments(post, postmeta, subInfo, subMods, comment['children'], highlight, sort)!!html}
          @end
        </div>
      </article>
    @else:
        <a href="#" class="loadsibling" data-pid="@{post['pid']}" data-key="@{comment.get('key', '')}" data-pcid="@{comment['pcid']}" data-sort="@{sort}">
        @if comment['more'] > 1:
          @{_('Load more (%(amt)i comments)', amt=comment['more'])}
        @else:
          @{_('Load more (1 comment)')}
        @end
        </a>
    @end
  @end
@end

@{renderComments(post, postmeta, subInfo, subMods, comments, highlight, sort)!!html}
