{% extends "layout.html" %}
{% block title %}Admin - {{config.site.lema}}{% endblock %}

{% block head %}
{{ super() }}
<script src="{{url_for('static', filename='sorttable.js')}}"></script>
{% endblock %}

{% block sidebar %}
{{ super() }}
<div class="col-12 admin section search">
  <form action="{{ url_for('do.search', stype='admin.subs') }}" method="post">
  <span class="search">
      <span><i class="fa fa-search"></i></span>
      <input id="term" name="term" type="search" placeholder="Search Subs...">
      <span>
        <button class="pure-button" type="submit">Submit</button>
      </span>
  </span>
  </form>
</div>
<hr>
{% include 'admin/sidebar.html' %}
<hr>
<ul>
  <li>Default subs:
  {% for sub in func.getDefaultSubs() %}
  <li><a href="{{url_for('sub.view_sub', sub=sub.name)}}">{{sub.name}}</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block content %}
{{ super() }}
<div id="center-container">
  <div class="content">

    <h2>Subs</h2>
    <hr>
    <div class="col-12 admin-page-form">
      <div>
        <form  method="POST" class="ajaxform" id="edit-mod-form" data-reload="true" action="{{url_for('do.edit_mod')}}">
          {{editmodform.csrf_token}}
          <h4>Change owner of sub</h4>
          <div>{{editmodform.sub(placeholder=editmodform.sub.label.text, required=True)}}</div>
          <div>{{editmodform.user(placeholder=editmodform.user.label.text, required=True,)}}</div>
          <div><button type="submit" class="pure-button" data-prog="Doing the magic...">Transfer sub</button></div>
          <div class="alert div-error"></div>
        </form>
      </div>
    </div>
    <hr>
    <div class="admin section subs">
      <div>
        {% if admin_route == 'admin.subs_search' %}
          <div>Showing results for: {{term}}</div>
        {% endif %}
        <table class="sortable pure-table">
          <thead>
            <tr>
              <th>Sub Name</th>
              <th>Created</th>
              <th>Owner</th>
              <th>Mods</th>
              <th>Subs</th>
              <th>Posts</th>
              <th>Comms</th>
            </tr>
          </thead>
          <tbody>
            {% for sub in subs %}
            {% set subInfo = func.getSubData(sub.sid, simple=False) %}
            {% set subMods = func.getSubMods(sub.sid) %}
            <tr>
              <td>
                <div class="subname" title="{{sub.title}}"><a href="{{url_for('sub.view_sub', sub=sub.name)}}">{{sub.name}}</a>{% if sub.getNSFW %}[nsfw]{% endif %}</div>
              </td>
              <td><relative-time datetime="{{sub.creation.isoformat()}}Z" prefix=""></relative-time></td>
              <td>
                {% for owner in subMods.owners %}
                <a href="{{url_for('user.view', user=subMods.owners[owner])}}">{{subMods.owners[owner]}}</a>
                {% endfor %}
              </td>
              <td>{{subMods.mods|count}}</td>
              <td>{{subInfo.subs}}</td>
              <td>{{subInfo.posts}}</td>
              <td>xx</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% if admin_route == 'admin.subs' %}
  {% set items = subs %}
  {% include 'admin/nav.html' %}
{% endif %}

  </div>
</div>
{% endblock %}
