<div pid="{{post.pid}}" class="{% if post.deleted != 0 %}deletedpost {% endif %}post">
    <div class="misctainer">
      <div class="votebuttons">
        {% if post.userstatus != 10 and not func.is_archived(post) %}
        <div title="Upvote" class="upvote{%if post.positive == 1%} upvoted{%endif%}" data-pid="{{post.pid}}" data-icon="upvote"></div>
        <div class="score">{{post.score}}</div>
        <div title="Downvote" class="downvote{%if post.positive == 0%} downvoted{%endif%}" data-pid="{{post.pid}}" data-icon="downvote"></div>
        {%endif%}
      </div>
      <div class="thcontainer">
        <a href="{{url_for('sub.view_post', sub=post.sub, pid=post.pid)}}" class="title">
          <div class="thumbnail">
            {% if post.link != None %}
              {% if post.thumbnail == '' %}
                <span class="placeholder" data-icon="link"></span>
              {% elif post.thumbnail == 'deferred' %}
                <span class="placeholder deferred {{ post.blur }}" data-icon="link"
                      data-deferred="SubPost-{{ post.pid }}"></span>
              {% else %}
                <img class="lazy {{ post.blur }}" src="{{ url_for('static', filename='img/1x1.gif') }}"
                     data-src="{{ thumbnail_url(post.thumbnail) }}"/>
              {%endif %}
            {%else%}
              <span class="placeholder" data-icon="chat"></span>
            {% endif%}

          </div>
        </a>
      </div>
    </div>
    <div class="pbody">
      <div class="post-heading">
        {% if post.nsfw %}
        <div class="nsfw" alt="Not safe for work">{{_('NSFW')}}</div>
        {%endif%}
        {% if post.flair %}
          <a class="postflair" href="{{url_for('sub.view_sub_hot', sub=post.sub, flair=post.flair)}}">{{post.flair}}</a>
        {% endif %}
        {% if post.link == None %}
          <a href="{{url_for('sub.view_post', sub=post.sub, pid=post.pid)}}" class="title">
          {% if post.deleted == 1 %}
            {{_('[Deleted by User]')}}
          {% elif post.deleted in [2, 3] %}
            {{_('[Deleted by Mod or Admin]')}}
          {% endif %}
          <span class="{{ post.blur }}">{{post.title}}</span>
        </a>
        {% else %}
          {% if post.link.startswith('http:') %}<span title="not https" class="p-icon" data-icon="exclaim"></span>{% endif %}
          <a rel="noopener nofollow ugc" target="_blank" href="{{post.link}}" class="title">
            {% if post.deleted == 1 %}
              {{_('[Deleted by User]')}}
            {% elif post.deleted in [2, 3] %}
              {{_('[Deleted by Mod or Admin]')}}
            {% endif %}
            <span class="{{ post.blur }}">{{post.title}}</span>
          </a>
          <a href="{{url_for('home.all_domain_new', domain=func.getDomain(post.link), page=1)}}" class="domain">({{func.getDomain(post.link)}})</a>
        {% endif %}
      </div>
      <div class="author">
          {% if post.link %}
            {% if func.getDomain(post.link) in config.site.expando_sites %}
            <div class="expando" data-pid="{{post.pid}}" data-t="lnk" data-link="{{post.link}}"><div class="icon expando-btn" data-icon="play"></div></div>
            {% elif func.isImage(post.link) %}
            <div class="expando" data-pid="{{post.pid}}" data-t="lnk" data-link="{{post.link}}"><div class="icon expando-btn" data-icon="image"></div></div>
            {% elif func.isVideo(post.link) or func.isGifv(post.link) %}
            <div class="expando" data-pid="{{post.pid}}" data-t="lnk" data-link="{{post.link}}"><div class="icon expando-btn" data-icon="play"></div></div>
            {% endif %}
          {% elif post.content != '' %}
          <div class="expando" data-pid="{{post.pid}}" data-t="txt" data-link="{{post.link}}"><div class="icon expando-btn" data-icon="text"></div></div>
          {% endif %}
        posted <relative-time datetime="{{post.posted.isoformat()}}Z"></relative-time> by
        {% if post.userstatus != 10 %}
          <a class="authorlink" href="{{url_for('user.view', user=post.user)}}">{{post.user}}</a>
        {% endif %}
        {% if sub and post.pid in func.getStickyPid(sub.sid) %}
        - <span class="stick">sticky</span>
        {% endif %}
        {% if not sub %} on
        <a href="{{url_for('sub.view_sub', sub=post.sub)}}">{{post.sub}}</a>
        {%endif%}
      </div>
      <div class="links">
        <a class="comments" href="{{url_for('sub.view_post', sub=post.sub, pid=post.pid)}}">comments {%if post.comments>0%}({{post.comments}}){%endif%}</a>
      </div>
    </div>
</div>
