{% extends "layout.html" %}
{% block title %}Subs | {{config.site.lema}}{% endblock %}
{% block navbar %}

<ul class="right">
  <li class="large">Subs</li>
</ul>
{% endblock %}

{% block sidebar %}
<div>
  <form class="pure-g search" action="{{ url_for('do.search', stype='home.subs') }}" method="post">
    <div class="icon" data-icon="search"> </div>
    <input name="term" placeholder="Search sub name..." type="search" class="pure-u-1" value="{{term}}">
  </form>
</div>
<hr>
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
{% if not subs %}<h1 class="noshit">There are no subs here, yet.</h1>{% endif %}
<div id="center-container">
  <div class="subs content">
    <table class="sortable pure-table" >
      <thead>
        <tr>
          <th>
            {% if sort == 'name_asc' %}
              <a href="{{cp_uri}}/name_desc">Sub Name <span class="tx-icon" data-icon="downvote"></span></a>
            {%elif sort == 'name_desc' %}
              <a href="{{cp_uri}}/name_asc">Sub Name <span class="tx-icon" data-icon="upvote"></span></a>
            {%else%}
              <a href="{{cp_uri}}/name_asc">Sub Name <span class="tx-icon" data-icon="updown"></span></a>
            {%endif %}
            </th>
          <th>Created</th>
          <th>
            {% if sort == 'subs_asc' %}
              <a href="{{cp_uri}}/subs_desc">Subscribers <span class="tx-icon" data-icon="downvote"></span></a>
            {%elif sort == 'subs_desc' %}
              <a href="{{cp_uri}}/subs_asc">Subscribers <span class="tx-icon" data-icon="upvote"></span></a>
            {%else%}
            <a href="{{cp_uri}}/subs_desc">Subscribers <span class="i-icon" data-icon="updown"></span></a>
            {%endif %}
          </th>
          <th>
            {% if sort == 'posts_asc' %}
              <a href="{{cp_uri}}/posts_desc">Posts <span class="tx-icon" data-icon="downvote"></span></a>
            {%elif sort == 'posts_desc' %}
              <a href="{{cp_uri}}/posts_asc">Posts <span class="tx-icon" data-icon="upvote"></span></a>
            {%else%}
              <a href="{{cp_uri}}/posts_desc">Posts <span class="i-icon" data-icon="updown"></span></a>
            {%endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for sub in subs %}
        <tr>
          <td  class="subsentry{% if current_user.has_subscribed(sub.name) %} subsubscribed{% endif %}{% if current_user.has_blocked(sub.sid) %} blocked{% endif %}" data-sid="{{sub.sid}}">
            <div class="subname" title="{{sub.title}}">
              {% if sub.nsfw  %}<span style="color:white;background:red">nsfw</span>{% endif %}
              <a href="{{url_for('sub.view_sub', sub=sub.name)}}">{{sub.name}}</a>
            </div>
          </td>
          <td><relative-time datetime="{{sub.creation}}" prefix=""></relative-time></td>
          <td>
            <div role="group" class="pure-button-group" data-sid="{{sub.sid}}" style="display:inline-block;">

              {% if current_user.has_subscribed(sub.name) %}
                <button data-ac="unsubscribe" class="sub pure-button button-xsmall" style="display:inline-block; width: 8em;"><span class="sbm-icon" data-icon="check"></span>Subscribed</button>
              {% elif current_user.has_blocked(sub.sid) %}
                <button data-ac="unblock" class="blk button-warning pure-button button-xsmall" style="display:inline-block; width: 8em;"><span class="sbm-icon" data-icon="block"></span>Blocked</button>
              {%else%}
                <button data-ac="subscribe" class="unsub pure-button button-xsmall" style="display:inline-block; width: 8em;"><span class="sbm-icon" data-icon="add"></span>Subscribe</button>
              {%endif%}
            </div>
            <span style="margin-left: .3em;">{{sub.subscribers}}</span>

          </td>
          <td>{{sub.posts}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{%if nav=='home.subs_search'%}
  <div class="col-12">
    {% if page > 1 %}
    <a href="{{url_for(nav, term=term, page=(page-1))}}" class="pure-button">prev</a>
    {% endif %}
    {% if subs|length == 50 %}
    <a href="{{url_for(nav,term=term, page=(page+1))}}" class="pure-button">next</a>
    {% endif %}
  </div>
{% else %}
  <div class="col-12">
    {% if page > 1 %}
    <a href="{{url_for(nav, page=(page-1))}}" class="pure-button">prev</a>
    {% endif %}
    {% if subs|length == 50 %}
    <a href="{{url_for(nav, page=(page+1))}}" class="pure-button">next</a>
    {% endif %}
  </div>
{% endif %}
{% endblock %}
